
.header{
    width:100%;
    height:42px;
    border-style:groove;
    background-color:black;
    border: hidden;
}
#bar{
    position:absolute;
    width:59px;
    height:50px;
    top:1.5%;
    left:1%;
    background-color:#cccccc;
    border-radius:50px
}
.header input[type=text] {
    position:absolute;
    width:300px;
    height:30px;
    top:2%;
    left:12%;
    border-style:hidden;
    border-radius: 10px;
    background-color: #cccccc;

}
ul{
    position:absolute;
    right:5%;
    top:0.5%;
}
ul li{
    list-style: none;
    display:inline-block;
    margin-right:50px;

}
ul li a{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight:600;
    color:white;
    font-size: 18px;
}
.aside{
    min-height:100vh;
    background-image: url("bg3.jpg");
    background-color: #cccccc;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
ul li{
    list-style: none;
    display:inline-block;
    margin-right:50px;
}
#a
{
    position:static;
    font-family: "Audiowide", sans-serif;
    font-size: 60px;
    margin-left: -90%;
    margin-top: 50%;
    color:red;

}
#b
{
    position: relative;
    font-size: 18px;
    margin-left: -290%;
    margin-top: 24%;

    font-family:'Times New Roman', Times, serif;
    color:yellow;
}
#c{
    position: absolute;
    font-size: 20px;
    margin-left: 15%;
    margin-top: 24%;

    font-family:'Times New Roman', Times, serif;
    color:white;

}
.menu{
        width:75%;
        height:100vh;
        border-style:groove;
        border: hidden;
    

}
.menu ul{
    position:fixed;
    right:-1%;
    top:15%;
}
.menu ul li{
    list-style: none;
    display: list-item;
    color:white;
    line-height: 250%;
}
.menu li::before{
    content: "\00BB";
}
.menu ul li a{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight:600;
    color:white;
    font-size: 18px;
}
#menulist{
    color:white;

}


